	body {
		background-image: url(https://wallpapercave.com/wp/wp3446533.jpg);
		background-size: cover;
	}

.head { 
	text-align: center;
	font-size: 45px;
	 font-family: 'Archivo Black', AL Cinderella;
}

.firstpic {
	justify-content: center;
}

.desc {
	font-size: 20px;
}